@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

*::selection {

    background: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 596px;
    height: 448px;
    display: grid;
    grid-template-columns: calc(300 / 596 * 100%) auto;
    grid-template-rows: 100%;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 27px;
}

.description span {
    letter-spacing: 0.3em;
    font-size: 1.1em;
    color: hsl(228, 12%, 48%);
}

.description span::selection,
.description p::selection {
    color: white;
    background: hsl(228, 12%, 48%);
}

.description h1 {
    color: hsl(212, 21%, 14%);
}

.description h1::selection {
    color: white;
    background: hsl(212, 21%, 14%);
}

.description p {
    color: hsl(228, 12%, 48%);
}

.description h2 {
    color: hsl(158, 36%, 37%);
    display: inline;
    transition: all 0.3s;
    cursor: url(images/imageedit_1_7987319697.png), auto;
}

.description h2::selection {
    color: white;
    background: hsl(158, 36%, 37%);
}

.description h2:hover {
    font-size: 1.7em;
}

.description s {
    color: hsl(228, 12%, 48%);
    display: inline;
    margin-left: 10px;
    cursor: default;
}

:not(.Montserrat) {
    font-family: 'Fraunces', serif;
}

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

button {
    height: 50px;
    border: none;
    background: linear-gradient(-45deg, hsl(154, 43%, 18%) var(--per), hsl(158, 36%, 37%) 0%, hsl(158, 36%, 37%) calc(100% - var(--per)));
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

button::before {
    content: url(images/icon-cart.svg);
    position: absolute;
    left: 20%;
    display: block;
    transition: all 0.5s;
}

button:hover {
    animation: button .3s linear both;

    &:hover::before {
        transform: rotate(-10deg) translateX(10px);
    }
}

button:focus {
    border: 2px solid hsl(155, 44%, 14%);
}


@property --per {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@keyframes button {
    to {
        --per: 100%;
    }
}

.attribution {
    position: absolute;
    bottom: 5px;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 12%, 48%);
}

.attribution a {
    color: hsl(158, 36%, 37%);
    text-decoration: none;
}

/*medium screen*/
@media (min-width: 500px) and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .container::after {
        content: "";
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        top: 80%;
        left: 25%;
        transform: translateX(-50%);
    }

    .container::before {
        /*this part*/
        font-family: 'Material Icons';
        content: 'navigate_next';
        display: inline-block;
        /*is required to call the icon*/
        font-size: 1.7em;
        color: hsl(158, 36%, 37%);
        position: absolute;
        cursor: alias;
        top: 84%;
        left: 32%;
        z-index: 10;
        cursor: no-drop;
        opacity: .7;
    }

    img {
        height: 448px;
        aspect-ratio: 2 / 3;
        position: relative;
        display: block;
        border-bottom-right-radius: 10px;
    }
}

/*mobile x-large, large, medium and small screens*/

@media (max-width: 500px) {
    .container {
        width: 90vw;
        height: 90vh;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;
    }


    .container::before {
        content: "";
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    img {
        display: none;
    }
}

@media (max-width: 250px) {
    body {
        height: 155vh;
    }

    .container {
        display: grid;
        width: 100%;
        height: 145vh;
        grid-template-rows: calc((480 * 239 / 686) * 1px) auto;
        grid-template-columns: 1fr;
        border-radius: 0;
        transform: translateY(-230px);
    }

    .container::before {
        content: "";
        background-image: url(images/image-product-mobile.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 99%;
        width: 100%;
        height: 100%;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .description {
        width: 100%;
        height: 100%;
    }

    img {
        display: none;
    }

    .attribution {
        position: absolute;
        top: 146vh;
    }
}
